<sidenav>
  <div class="container">
    <div class="time-options">
      @for (step of buttonOptions; track step) {
        <me-button
          (clicked)="setStep(step.step)"
          [color]="currentStep === step.step ? 'primary' : 'secondary'"
          [label]="step.label"
        />
      }
    </div>
    <div class="timer-wrapper">
      <div [class]="classes">
        <span class="timer-count">{{ formattedTime() }}</span>
        <div class="buttons">
          @if (isRunning()) {
            <button [class.pomodoro_animation]="!animationEnabled()" (click)="toggleAnimation()">
              <mat-icon fontIcon="auto_awesome_motion" />
            </button>
          }
          <button (click)="isRunning() ? stop() : start()">
            <mat-icon [fontIcon]="isRunning() ? 'pause' : 'play_arrow'" />
          </button>
          <button (click)="reset()"><mat-icon fontIcon="replay" /></button>
        </div>
        <span>{{ currentRound }}/4</span>
      </div>
    </div>

    <div class="to-do-list">
      <input-add-task [(value)]="pomoItemBody.description" (addTask)="addTask()" />
      @for (item of pomodoroData; track item.id) {
        <todo-card
          [isCompleted]="item.completed"
          (deleteItem)="deleteTodo(item.id)"
          (markAs)="updateTodo(item)"
          [description]="item.description"
        />
      }
    </div>
  </div>
</sidenav>
