.container {
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  @media screen and (max-width: 940px) {
    gap: 25px;
  }

  .timer-wrapper {
    position: relative;
    z-index: 0;
    margin-top: 125px;

    @media screen and (max-width: 940px) {
      margin-top: 100px;
    }

    @media screen and (max-width: 940px) {
      padding-top: 0;
    }

    .with-animation::before {
      animation: pulse 2s infinite;
    }

    .timer {
      margin-top: 65px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;

        height: 450px;
        width: 450px;
        top: -150px;
        left: -50%;

        background-image: var(--img-bg-pomodoro-pattern);
        filter: drop-shadow(0 0 85px var(--shadow-dark-blue-color));

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        opacity: 0.7;
        pointer-events: none;

        @media screen and (max-width: 940px) {
          height: 350px;
          width: 350px;
          top: -100px;
          left: -24%;
        }
      }

      span:first-child {
        font-size: 4.5rem;
        font-weight: 600;
        width: 240px;
      }

      .buttons button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        .mat-icon {
          color: var(--text-color-dark);
        }
      }

      span:last-child {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }

  .to-do-list {
    margin-top: 200px;
    width: 60%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    max-height: 320px;
    min-width: fit-content;
    padding: 0 20px;

    overflow-y: auto;
    overflow-x: hidden;

    > :first-child {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 940px) {
      width: 90%;
    }
  }

  .time-options {
    position: absolute;
    right: 25px;
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: 25px;

    @media screen and (max-width: 940px) {
      position: relative;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      z-index: 2;
      right: 0;
    }
  }
}

@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}
