.options {
  div.font-sizing-option {
    display: flex;
    align-content: start !important;
    flex-direction: column;
    gap: 15px;
  }

  > div {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    span {
      color: var(--text-color-dark);
      font-weight: 600;
      font-size: var(--font-size-text);
    }
  }
}
