<options-template [title]="componentData.prefTitle" [subtitle]="componentData.prefSubtitle">
  <div class="options">
    <div>
      <span>Animações ativadas</span>
      <mat-slide-toggle />
    </div>
    <div>
      <span>Modo escuro</span>
      <mat-slide-toggle [checked]="currentTheme === 'dark-mode'" (change)="changeTheme()" />
    </div>
    <div>
      <div class="font-sizing-option">
        <span>Tamanho dos textos</span>
        <font-size-selector />
      </div>
    </div>
  </div>
</options-template>
