<div [class]="['card', data.status === 'CONCLUIDO' ? 'task-done' : '']">
  <div class="top">
    <span>{{ data.title }}</span>
    <div class="buttons">
      <button (click)="handleDelete()">
        <mat-icon fontIcon="delete" />
      </button>
      <button (click)="handleOpenModal()">
        <mat-icon fontIcon="edit" />
      </button>
    </div>
  </div>
  <div class="description">
    <span>
      {{ data.description }}
    </span>
  </div>
  <div class="bottom">
    <span class="daysleft-count">{{ data.dayCountMessage || '' }}</span>
    <span [class]="[data.priority, 'tag']">{{ getPriority() }}</span>
  </div>
</div>
