.card {
  background-color: var(--bg-color-card);
  border-radius: 15px;
  box-shadow: 0 0 8px var(--shadow-grey-color);
  padding: 25px 20px;
  min-width: 275px;
  max-height: 160px;
  color: var(--text-color-dark);

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 600;

    .buttons button {
      background-color: transparent;
      outline: none;
      border: none;
      transform: scale(0.8);
      color: var(--text-color-light);
      transition: ease 0.2s;

      &:hover {
        cursor: pointer;
        color: var(--text-color-dark);
      }

      :first-child:hover {
        color: var(--color-dark-red);
      }
    }
  }

  .description {
    margin: 15px 0;
    color: var(--text-color-light);
    font-weight: 300;

    span {
      font-size: 0.8rem;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .daysleft-count {
      font-size: 0.6rem;
    }

    .tag {
      text-transform: capitalize;
      border-radius: 100px;
      font-size: 0.8rem;
      padding: 5px 45px;

      font-weight: 600;
    }

    .BAIXO {
      background-color: var(--tag-bg-color-green);
      color: var(--tag-text-color-green);
    }

    .MEDIO {
      background-color: var(--tag-bg-color-yellow);
      color: var(--tag-text-color-yellow);
    }

    .ALTO {
      background-color: var(--tag-bg-color-red);
      color: var(--tag-text-color-red);
    }
  }
}
