@use 'variables' as v;

.card {
  background-color: v.$all_white;
  border-radius: 15px;
  box-shadow: 0 0 4px v.$grey_undertone;
  padding: 25px 20px;
  min-width: 275px;
  max-height: 160px;
  color: v.$grey;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 600;

    .buttons button {
      background-color: transparent;
      outline: none;
      border: none;
      transform: scale(0.8);
      color: v.$grey_soft;
      transition: ease 0.2s;

      &:hover {
        cursor: pointer;
        color: v.$grey;
      }

      :first-child:hover {
        color: v.$dark_red;
      }
    }
  }

  .description {
    margin: 15px 0;

    span {
      font-size: 0.8rem;
    }
  }

  .bottom {
    text-align: right;

    span {
      text-transform: capitalize;
      padding: 5px 45px;
      border-radius: 100px;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .BAIXO {
      background-color: v.$light_green;
      color: v.$dark_green;
    }

    .MEDIO {
      background-color: v.$light_yellow;
      color: v.$dark_yellow;
    }

    .ALTO {
      background-color: v.$light_red;
      color: v.$dark_red;
    }
  }
}
