@import 'accent_colors';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  > span.title {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: var(--font-size-title);
    padding-top: 60px;
  }

  .container {
    height: 100%;
    padding: 10px 5px;

    gap: 25px;
    flex-direction: row;

    overflow-y: hidden;
    overflow-x: auto;

    .header {
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        height: 8px;
      }

      .sticky-groups-opt {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        height: 35px;

        input,
        button {
          background-color: transparent;
          color: var(--text-color-dark);
          border: none;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }

        input.group-selector {
          box-sizing: border-box;
          field-sizing: content;
          font-weight: 600;
          opacity: 30%;
        }

        input.group-active-selector {
          opacity: 1;
          border-bottom: 3px solid var(--border-color-dark);
        }

        .empty-message {
          color: var(--text-color-dark);
          font-size: var(--font-size-description);
          margin-bottom: 5px !important;
        }
      }

      .sticky-groups-active-opt {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .search-bar {
      margin: 25px 0 35px 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      width: 100%;

      .group-add-btn {
        width: 35px;
        height: 35px;
        background-color: var(--bg-color-dark) _bg;
        border-radius: 100px;
        border: none;
        outline: none;
        box-shadow: 0 0 6px var(--shadow-grey-color);
        color: var(--text-color-dark);

        &:hover {
          cursor: pointer;
          opacity: 60%;
        }

        .mat-icon {
          margin-top: 2px;
        }
      }

      > .search-group {
        flex: 1;
        position: relative;

        .group_search_btn {
          position: absolute;
          top: 12px;
          right: 25px;

          button {
            background-color: transparent;
            border: none;
            outline: none;
          }

          .mat-icon {
            color: var(--text-color-dark);
            transition: ease 0.2s;

            &:hover {
              cursor: pointer;
              opacity: 60%;
            }
          }
        }
      }
    }

    .notes-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    .empty-list {
      justify-self: center;

      margin-top: 15%;
      background-image: var(--img-bg-empty-notes);
      background-repeat: no-repeat;
      background-size: cover;

      width: 200px;
      height: 200px;
      opacity: 80%;
    }
  }
}
