<sidenav>
  <div class="wrapper">
    <span class="title"> Post-its </span>
    <div class="container">
      <div class="header">
        <div class="sticky-groups-opt">
          @for (group of listaStickyNotesGroup; track group) {
            <div class="sticky-groups-active-opt">
              @if (group.id === activeStickyNoteGroup.id) {
                <button
                  class="group-add-btn"
                  style="transform: scale(0.8)"
                  (click)="deleteStickyNotesGroup()"
                >
                  <mat-icon fontIcon="close" />
                </button>
              }
              <input
                maxlength="10"
                [(ngModel)]="group.groupName"
                (click)="setIsEditable()"
                (change)="updateStickyNoteName(group.id, group.groupName)"
                type="text"
                [class]="[
                  'group-selector',
                  group.id === activeStickyNoteGroup.id ? 'group-active-selector' : '',
                ]"
                (click)="setActiveGroup(group)"
              />
            </div>
          }

          @if (!listaStickyNotesGroup.length) {
            <p class="empty-message">Criar novo grupo</p>
          }

          <button (click)="createStickyNoteGroup()" class="group-add-btn">
            <mat-icon fontIcon="add" />
          </button>
        </div>
      </div>
      @if (activeStickyNoteGroup) {
        <div class="search-bar">
          <div class="search-group">
            <me-input-text
              type="text"
              inputId="search"
              placeholder="Pesquisar anotação..."
              [(value)]="keywordSeach"
            />
            <mat-icon fontIcon="search" />
          </div>
          <button (click)="addStickyNote()" class="group-add-btn">
            <mat-icon fontIcon="add" />
          </button>
        </div>
        @if (activeStickyNoteGroup.data.length) {
          <div class="notes-grid">
            @for (note of activeStickyNoteGroup.data; track note) {
              <sticky-note
                (deleteNote)="deleteStickyNote(note.id)"
                (updateNote)="updateStickyNote($event, note.id)"
                [noteContent]="note"
              />
            }
          </div>
        } @else {
          <div class="empty-list"></div>
        }
      } @else {
        <div class="empty-list"></div>
      }
    </div>
  </div>
</sidenav>
