<!--  -->
<me-modal
  [disabled]="isAuthValid === false || registerBody.password !== confirmPass"
  animate.enter="fadein"
  (clickConfirm)="sendReq()"
>
  <em class="icone"></em>

  <div class="modal-body">
    <div class="tabs">
      <button [ngClass]="loginLayout ? 'btn-active' : 'btn-inactive'" (click)="changeLayout()">
        login
      </button>
      <button [ngClass]="loginLayout ? 'btn-inactive' : 'btn-active'" (click)="changeLayout()">
        cadastro
      </button>
    </div>
    <div class="form-body">
      @if (loginLayout) {
        <div animate.enter="fadein">
          <me-input-text
            [(value)]="loginBody.email"
            (valueChange)="checkValidation()"
            [errorMsg]="loginBody.email && !checkEmailValid(loginBody.email) ? '(inválido)' : ''"
            placeholder="seu@email.com"
            type="text"
            label="e-mail"
            inputId="email"
          />
          <me-input-text
            [(value)]="loginBody.password"
            (valueChange)="checkValidation()"
            [errorMsg]="
              loginBody.password && loginBody.password.length < 6
                ? '(deve conter de 6 caracteres)'
                : ''
            "
            placeholder="******"
            type="password"
            label="senha"
            inputId="password"
          />
        </div>
      } @else {
        <div animate.enter="fadein">
          <me-input-text
            [(value)]="registerBody.nome"
            (valueChange)="checkValidation()"
            [errorMsg]="
              registerBody.nome && registerBody.nome.length < 3
                ? '(deve conter de 3 caracteres)'
                : ''
            "
            placeholder="seu nome"
            type="text"
            label="nome"
            inputId="name"
            [required]="true"
          />
          <me-input-text
            [(value)]="registerBody.email"
            (valueChange)="checkValidation()"
            [errorMsg]="
              registerBody.email && !checkEmailValid(registerBody.email)
                ? '(deve conter de 3 caracteres)'
                : ''
            "
            placeholder="seu@email.com"
            type="text"
            label="e-mail"
            inputId="email"
            [required]="true"
          />
          <me-input-text
            [(value)]="registerBody.password"
            (valueChange)="checkValidation()"
            [errorMsg]="
              registerBody.password && registerBody.password.length < 6
                ? '(deve conter de 6 caracteres)'
                : ''
            "
            placeholder="******"
            type="password"
            label="senha"
            inputId="password"
            [required]="true"
          />
          <me-input-text
            [(value)]="confirmPass"
            [errorMsg]="
              registerBody.password && confirmPass && registerBody.password !== confirmPass
                ? '(senhas não são iguais)'
                : ''
            "
            placeholder="******"
            type="password"
            label="repetir senha"
            inputId="password"
            [required]="true"
          />
        </div>
      }
    </div>
  </div>
</me-modal>
