div {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .label {
    display: block;

    label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: var(--font-size-label);
      color: var(--text-color-dark);
    }

    span.required {
      font-size: var(--font-size-label);
      color: var(--text-color-opacity);
    }
  }
}
