<me-modal [disabled]="formHasEmptyValues" (clickConfirm)="handleConfirm()">
  <div class="container">
    <me-input-text
      type="text"
      label="título "
      inputId="titulo"
      placeholder="Digite aqui..."
      [(value)]="bodyItem.title"
      [required]="true"
      [maxLen]="16"
      (valueChange)="checkValidation()"
    />
    <me-input-text
      type="text"
      label="descrição "
      inputId="descricao"
      placeholder="Adicione detalhes"
      [(value)]="bodyItem.description"
      [required]="true"
      (valueChange)="checkValidation()"
    />
    <div class="row">
      <me-input-select
        [(value)]="bodyItem.priority"
        inputId="priority"
        [options]="priorityList"
        label="Prioridade "
        [required]="true"
        (valueChange)="checkValidation()"
      />
      <me-input-select
        [(value)]="bodyItem.status"
        inputId="status"
        [options]="statusList"
        label="status "
        [required]="true"
        (valueChange)="checkValidation()"
      />
    </div>
    <div class="input-group">
      <input-date-picker
        [(value)]="bodyItem.dueDate"
        id="dueDate"
        label="vencimento "
        [required]="true"
        (valueChange)="checkValidation()"
      />
    </div>
  </div>
</me-modal>
