.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 15px;

  .row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    > * {
      min-width: 0;
      flex: 1;
    }

    @media screen and (max-width: 940px) {
      flex-direction: column;
    }
  }
}
