.container {
  background-color: var(--bg-color-base);
  padding: 25px 45px 15px 45px;

  .top {
    text-align: right;

    .close-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;

      .mat-icon {
        color: var(--text-color-dark);
      }
    }
  }

  .bottom {
    padding: 35px 0 25px 0;
    text-align: center;
  }
}
