@use 'variables' as v;

.card {
  padding: 0 25px;
  color: v.$grey;
  font-weight: 500;
  border: 1px solid v.$grey_undertone;
  border-radius: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  transition: ease 0.2s;

  &:hover {
    opacity: 60%;
  }

  &:active {
    box-shadow: 0 0 4px v.$grey;
  }

  span {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;

    &.completed,
    &:hover {
      cursor: pointer;
      text-decoration: line-through;
    }

    input[type='checkbox'] {
      height: 18px;
      width: 18px;
      accent-color: v.$grey_soft;
    }
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 25px;
    color: v.$grey_soft;
    transition: ease 0.2s;
    cursor: pointer;

    &:hover {
      color: v.$dark_red;
    }
  }
}

.completed {
  opacity: 60%;
  text-decoration: line-through;

  button {
    display: none;
  }
}
