:root {
  --bg-color-base: #ffffff;
  --bg-color-container: #fdfdfd;
  --bg-color-dark: #4f5162;

  --bg-color-element-light: #ffffff;
  --bg-color-element-contrast: #fff5f5;
  --bg-color-card: #ffffff;

  --sidenv-bg-color: #ffffff;

  --btn-bg-color-primary: #4f5162;
  --btn-bg-color-secondary: #f1f1f1;

  --input-btn-color-primary: #f6f6f6;

  --input-bg-color-primary: #f6f6f6;
  --btn-bg-color-active: #e8f0ff;

  --tag-bg-color-green: #e1f7dd;
  --tag-text-color-green: #0f5310;
  --tag-bg-color-yellow: #f7f4dd;
  --tag-text-color-yellow: #81730c;
  --tag-bg-color-red: #f7e0dd;
  --tag-text-color-red: #4c1818;

  --color-sky-blue: #b7d3f2;
  --color-baby-blue: #e8f0ff;
  --color-dark-blue: #2f64c7;
  --color-dark-green: #0f5310;
  --color-light-green: #e1f7dd;
  --color-dark-yellow: #81730c;
  --color-light-yellow: #f7f4dd;
  --color-dark-red: #4c1818;
  --color-light-red: #f7e0dd;
  --color-light-orange: #fbd6be;

  --color-accent-blue: #b7d3f2;
  --color-accent-yellow: #ffeaa4;
  --color-accent-red: #f1b9b9;
  --color-accent-green: #6db375;
  --color-accent-orange: #f3af81;

  --text-color-dark: #4f5162;
  --text-color-light: #888990;
  --text-color-opacity: #cdcdcd;
  --text-color-error: #a61818;

  --shadow-grey-color: #cdcdcd;
  --shadow-dark-grey-color: #4f5162;
  --shadow-dark-blue-color: #2f64c7;

  --border-color-light: #cdcdcd;
  --border-color-dark: #4f5162;

  --img-bg-lp-pattern: url(./../../../assets/landing-bg.png);
  --img-bg-pomodoro-pattern: url('./../../../assets/pomodoro-bg.svg');
  --img-bg-empty-notes: url('./../../../assets/light-empty-notes-list.png');
  --img-bg-empty-todo: url('./../../../assets/light-empty-todo-list.png');
  --img-bg-page-not-found: url('./../../../assets/light-not-found-bg.png');
}
.dark-mode {
  --bg-color-base: #0a0a12;
  --bg-color-container: #342d446e;
  --bg-color-dark: #4f5162;

  --bg-color-element-light: #342d446e;
  --bg-color-element-contrast: #0f0f1a;
  --bg-color-card: #5b5b75;

  --sidenv-bg-color: #0f0f1a;

  --input-bg-color-primary: #3f3f51;
  --input-bg-color-bright: #4e4e62;

  --btn-bg-color-primary: #2e379c;
  --btn-bg-color-secondary: #262630;
  --btn-bg-color-primary-light: #414aaf;
  --btn-bg-color-active: #3f3f51;

  --color-sky-blue: #b7d3f2;
  --color-dark-blue: #2f64c7;
  --color-baby-blue: #4967b873;
  --color-dark-green: #0f5310;
  --color-light-green: #116225b2;
  --color-dark-yellow: #81730c;
  --color-light-yellow: #ece75fa4;
  --color-dark-red: #4c1818;
  --color-light-red: #4c1818cd;
  --color-light-orange: #7a462bcd;

  --tag-bg-color-green: #44b115fb;
  --tag-text-color-green: #202821;
  --tag-bg-color-yellow: #bcbf0e;
  --tag-text-color-yellow: #080805a4;
  --tag-bg-color-red: #b02020;
  --tag-text-color-red: #f7f5f5;

  --color-accent-blue: #173251;
  --color-accent-yellow: #ffeaa4;
  --color-accent-red: #f1b9b9;
  --color-accent-green: #6db375;
  --color-accent-orange: #f3af81;

  --text-color-dark: #ffffff;
  --text-color-light: #e7e5e5;
  --text-color-opacity: #b1b1b1;
  --text-color-error: #f53232;

  --shadow-grey-color: #464283;
  --shadow-dark-grey-color: #4f5162;
  --shadow-dark-blue-color: #3d3a65;

  --border-color-light: #272639;
  --border-color-dark: #ffffff;

  --img-bg-lp-pattern: url(./../../../assets/dark-landing-bg.png);
  --img-bg-pomodoro-pattern: url('./../../../assets/dark-pomodoro-bg.svg');
  --img-bg-empty-notes: url('./../../../assets/dark-empty-notes-list.png');
  --img-bg-empty-todo: url('./../../../assets/dark-empty-todo-list.png');
  --img-bg-page-not-found: url('./../../../assets/dark-not-found-bg.png');
}
