:root {
  --bg-color-base: #ffffff;
  --bg-color-container: #fbfbfb;
  --bg-color-dark: #4f5162;

  --color-sky-blue: #b7d3f2;
  --color-baby-blue: #e8f0ff;
  --color-dark-blue: #2f64c7;
  --color-dark-green: #0f5310;
  --color-light-green: #e1f7dd;
  --color-dark-yellow: #81730c;
  --color-light-yellow: #f7f4dd;
  --color-dark-red: #4c1818;
  --color-light-red: #f7e0dd;
  --color-light-orange: #fbd6be;

  --color-accent-blue: #b7d3f2;
  --color-accent-yellow: #ffeaa4;
  --color-accent-red: #f1b9b9;
  --color-accent-green: #6db375;
  --color-accent-orange: #f3af81;

  --text-color-dark: #4f5162;
  --text-color-light: #888990;
  --text-color-opacity: #cdcdcd;

  --shadow-grey-color: #cdcdcd;
  --shadow-dark-grey-color: #4f5162;
  --shadow-dark-blue-color: #2f64c7;

  --border-color-light: #cdcdcd;
  --border-color-dark: #4f5162;
}
.dark-mode {
  --color-bg: rgb(31, 31, 31);
}
