// Padrão
:root {
  --font-size-title: 1.2rem;
  --font-size-text: 1rem;
  --font-size-description: 0.8rem;
  --font-size-label: 0.6rem;
}

.sm-text {
  --font-size-title: 1rem;
  --font-size-text: 0.8rem;
  --font-size-description: 0.6rem;
  --font-size-label: 0.4rem;
}

.lg-text {
  --font-size-title: 1.4rem;
  --font-size-text: 1.2rem;
  --font-size-description: 1rem;
  --font-size-label: 0.8rem;
}

.xl-text {
  --font-size-title: 1.6rem;
  --font-size-text: 1.4rem;
  --font-size-description: 1.2rem;
  --font-size-label: 1rem;
}
