<div #selector class="selector" name="color-pick" id="color-pick">
  <button
    (click)="handleSetActiveColor()"
    [class]="['option-selector', expanded() ? 'option-selected' : 'option-selected-inactive']"
  >
    <span [class]="['option', `${activeColor}`]"></span>
  </button>
  <div [class]="expanded() ? 'expanded' : 'not-expanded'">
    @for (color of colors; track color) {
      @if (color !== activeColor) {
        <button (click)="handleSelect(color)">
          <span [class]="['option', `${color}`]"></span>
        </button>
      }
    }
  </div>
</div>
