@import 'accent_colors';

.selector {
  width: 100px;
  background-color: var(--bg-color-base);
  width: 80px;
  position: relative;

  button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    width: 100%;
    transition: ease 0.2s;

    &:not(:first-child) {
      border-top: 0.8px solid var(--border-color-light);
    }

    &:hover {
      opacity: 80%;
      background-color: var(--bg-color-container);
    }
  }

  .option {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    margin-left: 10px;
  }

  .option-selector {
    position: relative;
    display: inline-block;
    height: 45px;
    box-shadow: 0 0 4px var(--shadow-grey-color);

    &::after {
      position: absolute;
      right: 10px;
      transform: scale(0.8);
      pointer-events: none;
      color: #555;
    }
  }

  .option-selected {
    &::after {
      content: '▼';
      top: 25%;
    }
  }

  .option-selected-inactive {
    &::after {
      content: '◀';
      top: 15%;
    }
  }

  .expanded {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-color-base);
    border: 1px solid var(--border-color-light);
    position: absolute;
    width: 80px;
    z-index: 2;
    box-shadow: 0 0 8px rgb(var(--shadow-grey-color), 50%);

    > button {
      height: 45px;

      .option {
        margin-left: 35%;
      }
    }
  }

  .not-expanded {
    display: none;
  }
}
