.wrapper {
  height: 100%;
  gap: 35px;
  display: flex;
  flex-direction: column;

  > span.title {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 60px;
  }

  .options {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      outline: none;
      border: none;
      box-shadow: 0 0 8px var(--shadow-grey-color);
      font-weight: 600;
      padding: 10px;
      min-width: 150px;
      background-color: var(--bg-color-base);
      color: var(--text-color-light);
      opacity: 80%;
      border-radius: 10px;
      font-size: 1rem;
      transition: ease 0.2s;
      opacity: 40%;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    button.active-template-btn {
      background-color: var(--btn-bg-color-active);
      color: var(--text-color-dark);
      opacity: 1;
    }
  }
}
