div {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    color: var(--text-color-dark);
  }

  input {
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: var(--input-bg-color-primary);
    padding: 0 15px;
    transition: ease 0.2s;
    font-size: 0.8rem;
    color: var(--text-color-dark);

    &::placeholder {
      color: var(--text-color-opacity);
    }

    &[type='date'] {
      cursor: pointer;
    }

    &:disabled {
      background-color: transparent !important;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 8px #00000021;
      background-color: var(--input-bg-color-bright);
    }
  }
}
