input {
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: var(--input-bg-color-primary);
  padding: 0 15px;
  transition: ease 0.2s;
  font-size: var(--font-size-description);
  color: var(--text-color-dark);

  &::placeholder {
    color: var(--text-color-opacity);
  }

  &[type='date'] {
    cursor: pointer;
  }

  &:disabled {
    background-color: transparent !important;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 8px #00000021;
    background-color: var(--input-bg-color-bright);
  }
}
