.BLUE {
  background-color: v.$accent_blue;
}

.YELLOW {
  background-color: v.$accent_yellow;
}

.RED {
  background-color: v.$accent_red;
}

.GREEN {
  background-color: v.$accent_green;
}

.ORANGE {
  background-color: v.$accent_orange;
}

// BG CLARO //

.BG-BLUE {
  background-color: var(--color-baby-blue);
}

.BG-YELLOW {
  background-color: v.$light_yellow;
}

.BG-RED {
  background-color: v.$light_red;
}

.BG-GREEN {
  background-color: v.$light_green;
}

.BG-ORANGE {
  background-color: v.$light_green;
}
