.BLUE {
  background-color: v.$accent_blue;
}

.YELLOW {
  background-color: v.$accent_yellow;
}

.RED {
  background-color: v.$accent_red;
}

.GREEN {
  background-color: v.$accent_green;
}

.ORANGE {
  background-color: v.$accent_orange;
}
