.BLUE {
  background-color: var(--color-accent-blue);
}

.YELLOW {
  background-color: var(--color-accent-yellow);
}

.RED {
  background-color: var(--color-accent-red);
}

.GREEN {
  background-color: var(--color-accent-green);
}

.ORANGE {
  background-color: var(--color-accent-orange);
}

// BG CLARO //

.BG-BLUE {
  background-color: var(--color-baby-blue);
}

.BG-YELLOW {
  background-color: var(--color-light-yellow);
}

.BG-RED {
  background-color: var(--color-light-red);
}

.BG-GREEN {
  background-color: var(--color-light-green);
}

.BG-ORANGE {
  background-color: var(--color-light-orange);
}
