$sky_blue: #b7d3f2;
$baby_blue: #e8f0ff;
$dark_blue_shadow: #2f64c7;
$grey: #4f5162;
$grey_soft: #8d8e99;
$all_black: #000;
$all_white: #ffffff;
$soft_white: #fbfbfb;
$grey_undertone: #cdcdcd;
$grey_bg: #f6f6f6;
$dark_green: #0f5310;
$light_green: #e1f7dd;
$dark_yellow: #81730c;
$light_yellow: #f7f4dd;
$dark_red: #4c1818;
$light_red: #f7e0dd;
