<options-template [title]="componentData.prefTitle" [subtitle]="componentData.prefSubtitle">
  <div class="wrapper">
    <div class="options">
      @if (!passwordConfirmed()) {
        <section>
          <p>Confirme sua senha</p>
          <span>Antes de alterar seus dados, confirme sua senha atual abaixo.</span>
          <me-input-text [(value)]="passConfirm" placeholder="Digite aqui..." />
          <div class="row">
            <me-button label="Confirmar" (clicked)="verificaSenha()" />
          </div>
        </section>
      }

      @if (passwordConfirmed()) {
        <section>
          <p>Alterar e-mail</p>
          <div>
            <me-input-text [(value)]="userBody.email" placeholder="Digite aqui..." />
          </div>
        </section>

        <section>
          <p>Alterar senha</p>
          <span>Infrome uma senha com:</span>
          <ul>
            <li>- 6 caracteres</li>
            <li>- Deve conter pelo menos 1 (um) número</li>
            <li>- Deve conter pelo menos 1 (um) caractere especial</li>
          </ul>
          <me-input-text [(value)]="userBody.password" placeholder="Digite aqui..." />
          <div class="row">
            <me-button label="Salvar" (clicked)="updateUser()" />
          </div>
        </section>
      }
    </div>
  </div>
</options-template>
