<me-modal [showBottom]="false">
  <div class="modal-body">
    <div class="tabs">
      @if (kanbanNotifications.length > 0) {
        <button
          [ngClass]="
            kanbanNotifLayout || checklistNotifications.length === 0 ? 'btn-active' : 'btn-inactive'
          "
          (click)="changeLayout()"
        >
          Kanban
        </button>
      }
      @if (checklistNotifications.length > 0) {
        <button
          [ngClass]="
            !kanbanNotifLayout || kanbanNotifications.length === 0 ? 'btn-active' : 'btn-inactive'
          "
          (click)="changeLayout()"
        >
          Lista de tarefas
        </button>
      }
    </div>

    <div class="notifications-group">
      @if (activeTab.length) {
        <button class="mark-all-btn" (click)="markAllAsRead(activeTab)">
          Marcar todos como lidos ({{ activeTab.length }})
        </button>
        @for (notif of activeTab; track notif) {
          <notification-card
            [notifData]="notif"
            (goToRoute)="goToIem(notif.route)"
            (markAsRead)="markOneAsRead(notif.id)"
          />
        }
      }
      @if (!kanbanNotifications.length && !checklistNotifications.length) {
        <div class="empty-list"></div>
      }
    </div>
  </div>
</me-modal>
