@use 'animations/enter-leave.animation' as *;

div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px dashed var(--border-color-light);
  border-radius: 10px;
  background-color: var(--input-bg-color-primary);
  height: 45px;
  padding: 0 15px;
  transition: ease 0.2s;
  position: relative;
  padding: 0 25px;

  &:focus-within {
    box-shadow: 0 0 8px var(--shadow-grey-color);
    background-color: var(--input-bg-color-bright);
  }
}

input {
  width: 100%;
  outline: none;
  border: none;
  color: var(--text-color-dark);
  background-color: transparent;

  &::placeholder {
    color: var(--text-color-opacity);
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 25px;

  .icon {
    color: var(--text-color-light);
    transition: 0.2s ease;

    &:hover {
      color: var(--text-color-dark);
      cursor: pointer;
    }
  }
}
button:disabled:hover {
  cursor: not-allowed;
  color: var(--text-color-light) !important;
}
