@use 'animations/enter-leave.animation' as *;

.options-header {
  width: 100%;
  border-bottom: 1px solid var(--border-color-light);
  color: var(--text-color-dark);

  .title {
    font-weight: 600;
    font-size: 1.125rem;
  }
  .subtitle {
    margin: 15px 0 25px 0;
    font-weight: 300;
    font-size: 1rem;
  }
}

.content {
  margin-top: 25px;
}
