@use 'animations/enter-leave.animation' as *;
@use 'variables' as v;

.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .sidenav-wrapper {
    position: fixed;
    z-index: 10;
    height: 100%;

    .btn-close {
      z-index: 10;
      right: -300px;
      top: 25px;
    }

    .btn-open {
      z-index: 10;
      right: -65px;
      top: 25px;

      button:hover {
        box-shadow: 0 0 12px v.$grey_undertone;
      }

      .mat-icon {
        transform: rotate(180deg);
      }
    }

    .btn-nav {
      position: absolute;

      button {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: v.$all-white;
        transform: scale(1.2);
        box-shadow: 2px -2px 4px #00000018;
        color: v.$grey_soft;
        transition: ease 0.2s;

        &:hover {
          color: v.$grey;
          cursor: pointer;
        }

        .mat-icon {
          margin-top: 20%;
        }
      }
    }

    .sidenav {
      box-shadow: 0 0 12px #00000018;
      background-color: v.$all-white;
      padding: 0 25px;
      position: fixed;
      width: 230px;
      height: 100%;

      .top {
        padding: 25px 0;

        em {
          background-image: url('./../../../assets/me-icon.svg');
          background-size: contain;
          background-repeat: no-repeat;
          height: 160px;
          width: 160px;
          display: block;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .divisor {
          background-color: v.$grey_undertone;
          width: 100%;
          height: 1px;
        }

        .active-route {
          a {
            color: v.$grey;
            &:hover {
              opacity: 1;
              border-right: 4px solid v.$grey;
            }
          }
          border-right: 4px solid v.$grey;
        }

        a {
          display: inline-block;
          color: v.$grey_soft;
          font-size: 0.8rem;
          list-style: none;
          text-decoration: none;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.2s ease;
          width: 100%;

          &:hover {
            opacity: 80%;
            border-right: 4px solid v.$grey_undertone;
          }
        }

        ul > li:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .content {
    padding: 25px 25px 25px 315px;

    @media screen and (max-width: 940px) {
      padding: 25px 25px;
    }
  }

  .content-focused {
    padding: 25px 25px;
    height: 100%;
  }
}
