<div class="container">
  @if (!isFocusOn()) {
    <div animate.enter="slow-fadein" class="sidenav">
      <div class="top">
        <em class="icone"></em>
      </div>
      <div class="items">
        <div class="main">
          <ul>
            @for (item of navItems; track item.name) {
              <li [class.active-route]="item.isActive">
                <a [href]="item.route">
                  <mat-icon [fontIcon]="item.icon" />
                  {{ item.name }}</a
                >
              </li>
            }
          </ul>
        </div>
        <span class="divisor"></span>
        <div class="bottom">
          <span>
            <a href="">
              <mat-icon fontIcon="settings" />
              Preferências</a
            >
          </span>
        </div>
      </div>
    </div>
  }

  <div [class]="[!isFocusOn() ? 'content' : 'content-focused']" style="width: 100%">
    <ng-content />
  </div>
</div>
