@use 'animations/enter-leave.animation' as *;

.container {
  display: flex;
  flex-direction: row;
  // height: 100%;

  .sidenav-wrapper {
    position: fixed;
    z-index: 10;
    height: 100%;

    .btn-close {
      z-index: 10;
      right: -300px;
      top: 25px;
    }

    .btn-open {
      z-index: 10;
      right: -65px;
      top: 25px;

      button:hover {
        box-shadow: 0 0 12px var(--shadow-grey-color);
      }

      .mat-icon {
        transform: rotate(180deg);
      }
    }

    .btn-nav {
      position: absolute;

      button {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: var(--sidenv-bg-color);
        transform: scale(1.2);
        box-shadow: 2px -2px 4px #00000018;
        color: var(--text-color-light);
        transition: ease 0.2s;

        &:hover {
          color: var(--text-color-dark);
          cursor: pointer;
        }

        .mat-icon {
          margin-top: 20%;
        }
      }
    }

    .sidenav {
      box-shadow: 0 0 12px #00000018;
      background-color: var(--sidenv-bg-color);
      padding: 0 25px;
      position: fixed;
      width: 230px;
      height: 100%;

      .top {
        padding: 25px 0;

        em {
          background-image: url('./../../../assets/me-icon.svg');
          background-size: contain;
          background-repeat: no-repeat;
          height: 160px;
          width: 160px;
          display: block;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .divisor {
          background-color: var(--border-color-light);
          width: 100%;
          height: 1px;
        }

        .active-route {
          opacity: 100% !important;
          a,
          span {
            color: var(--text-color-dark);
            opacity: 100% !important;

            &:hover {
              border-right: 4px solid var(--border-color-dark);
            }
          }
          border-right: 4px solid var(--border-color-dark);
        }

        a,
        span {
          display: inline-block;
          color: var(--text-color-light);
          font-size: 0.8rem;
          list-style: none;
          text-decoration: none;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.2s ease;
          width: 100%;

          &:hover {
            opacity: 80%;
            border-right: 4px solid var(--border-color-light);
            cursor: pointer;
          }
        }

        ul > li:not(:last-child) {
          margin-bottom: 15px;
        }

        .notif-icon {
          position: relative;
          width: 24px;

          span {
            position: absolute !important;
            top: 0;
            right: 0;

            width: 10px;
            height: 10px;
            background-color: var(--notification-color-exists);
            border-radius: 100%;
          }
        }
      }
    }

    .hide {
      display: none;
    }
    .show {
      display: block;
    }
  }

  .content {
    padding: 25px 45px 45px 335px;
    overflow-x: hidden;

    @media screen and (max-width: 940px) {
      padding: 25px 25px;
    }
  }

  .content-focused {
    padding: 25px 25px;
    overflow-y: auto;
    // height: 100%;
  }
}
