.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .dashboard_top {
    padding-top: 60px;

    .dashboard_title {
      font-size: calc(var(--font-size-title) + 0.2rem);
      color: var(--text-color-dark);
      font-weight: 700;
      line-height: 65px;
    }

    .dashboard_date {
      font-size: var(--font-size-text);
      color: var(--text-color-light);
    }
  }

  .dashboard_section {
    .section_title {
      font-size: var(--font-size-description);
      text-transform: uppercase;
      color: var(--text-color-dark);
      font-weight: 700;

      margin-bottom: 25px;
    }
  }

  .empty-list {
    background-image: var(--img-bg-empty-notes);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 125px;

    width: 180px;
    height: 180px;
    opacity: 80%;
  }

  .todos_group {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 5px 5px 25px 5px;

    overflow-y: hidden;
    overflow-x: scroll;
  }

  .row {
    display: flex;
    gap: 25px;

    @media screen and (max-width: 940px) {
      flex-direction: column;
    }

    .sticky_notes_group {
      flex: 1;
      min-width: 0;

      :last-child {
        flex: 0 0 auto;
      }
    }
  }
}
