<div [class]="['card', `BG-${noteContent.color}`]" [style]="isLittleContent && 'height: 100%'">
  <div class="wrapper">
    <div class="header">
      <input
        [value]="noteContent.title"
        (change)="handleEditNote('title', $event)"
        type="text"
        class="card-title"
        [disabled]="isLittleContent"
      />
      <div class="btn_group">
        @if (!isLittleContent) {
          <button class="close-btn" (click)="handleToggleFavorite()">
            <mat-icon [fontIcon]="noteContent.isFavorite ? 'favorite' : 'favorite_border'" />
          </button>
          <button class="close-btn" (click)="handleDeleteNote()">
            <mat-icon fontIcon="close" />
          </button>
        }
      </div>
    </div>

    <div class="card-content">
      <textarea
        [value]="noteContent.description"
        (change)="handleEditNote('description', $event)"
        [(ngModel)]="noteContent.description"
        name="description"
        id="description"
        maxlength="200"
        [disabled]="isLittleContent"
      ></textarea>
    </div>
    <div class="card-bottom">
      {{ `${noteContent.description.length}/200` }}
    </div>
  </div>
</div>
