<div [class]="['card', `BG-${noteContent.color}`]">
  <div class="header">
    <input
      [value]="noteContent.title"
      (change)="handleEditNote('title', $event)"
      type="text"
      class="card-title"
    />
    <button (click)="handleDeleteNote()">x</button>
  </div>

  <div class="card-content">
    <textarea
      [value]="noteContent.description"
      (change)="handleEditNote('description', $event)"
      name="description"
      id="description"
    ></textarea>
  </div>
</div>
