<sidenav>
  <div class="wrapper">
    <span class="title"> Checklist </span>
    <div class="container">
      <div class="checklists-list">
        <div class="header">
          <button (click)="createChecklist()">
            <mat-icon fontIcon="add" />
          </button>
          <span class="title">Lista de to-dos</span>
        </div>
        <div class="checklists-group">
          @for (checklist of checklistsData; track checklist) {
            <div class="checklist-btn">
              <button (click)="setChecklistActive(checklist)">
                <span [class]="['checklist-color-indicator', `${checklist.color}`]"></span>
                <span>
                  {{ checklist.name }}
                </span>
              </button>
              <button (click)="deleteChecklist(checklist.id)">
                <mat-icon fontIcon="delete" />
              </button>
            </div>
          }
        </div>
      </div>
      <div class="content">
        @if (checklistActive) {
          <span [class]="['top-border', `${checklistActive.color}`]"></span>
          <div class="content-header">
            <div class="checklist-name-input">
              <button (click)="updateEdit()">
                <mat-icon fontIcon="edit" />
              </button>
              <me-input-text
                class="disabled"
                [disabled]="isEditOff()"
                [(value)]="checklistActive.name"
                (valueChange)="updateChecklistDetails('name', $event)"
                [inputId]="checklistActive.id"
              />
              <!-- <input
                [disabled]="isEditOff()"
                [value]="checklistActive.name"
                (change)="updateChecklistDetails('name', $event)"
                type="text"
              /> -->
            </div>
            <color-selector
              [activeColor]="checklistActive.color"
              (selectColor)="updateChecklistDetails('color', $event)"
            />
          </div>
          <div class="items-list">
            <input-add-task [(value)]="checkItemBody.description" (addTask)="addChecklistItem()" />
            @for (item of checklistActive.data; track item) {
              <todo-card
                [isCompleted]="item.completed"
                (deleteItem)="deleteChecklistItem(item.id)"
                (markAs)="atualizaChecklistItem(item)"
                [description]="item.description"
              />
            }
          </div>
        }
      </div>
    </div>
  </div>
</sidenav>
