<sidenav>
  <div class="wrapper">
    <span class="title"> Checklist </span>
    <div class="container">
      <div class="checklists-list">
        <div class="header">
          <button (click)="createChecklist()">
            <mat-icon fontIcon="add" />
          </button>
          <span class="title">Checklist</span>
        </div>
        <div class="checklists-group">
          @for (checklist of checklistsData; track checklist) {
            <div class="checklist-btn">
              <button (click)="setChecklistActive(checklist)">
                <span [class]="['checklist-color-indicator', `${checklist.color}`]"></span>
                <span>
                  {{ checklist.name }}
                </span>
              </button>
              <button (click)="deleteChecklist(checklist.id)">
                <mat-icon fontIcon="delete" />
              </button>
            </div>
          }
          @if (checklistsData.length === 0) {
            <p class="empty_checklist_group">Vazio...</p>
          }
        </div>
      </div>
      <div class="content">
        @if (checklistActive) {
          <div class="progresbar">
            <mat-progress-bar
              mode="determinate"
              [className]="checklistActive.color"
              [value]="currentChecklistProgress"
            ></mat-progress-bar>
          </div>
          <div class="content-header">
            <div class="checklist-name-input">
              <button (click)="updateEdit()">
                <mat-icon fontIcon="edit" />
              </button>
              <me-input-text
                [class]="['disabled']"
                [disabled]="isEditOff()"
                [(value)]="checklistActive.name"
                (valueChange)="updateChecklistDetails('name', $event)"
                [inputId]="checklistActive.id"
                [maxLen]="30"
              />
            </div>
            <color-selector
              [activeColor]="checklistActive.color"
              (selectColor)="updateChecklistDetails('color', $event)"
            />
          </div>
          <div class="items-list">
            <div class="todo-counter-indicator">
              @if (checklistActive.data.length) {
                <p class="progress-counter">
                  {{
                    `${checklistActive.completedItems}/${checklistActive.data.length} tarefas finalizadas`
                  }}
                </p>
                <span>|</span>
              }
              <p class="progress-counter">
                {{ `${checklistActive.data.length}/10 tarefas criadas` }}
              </p>
            </div>
            <input-add-task [(value)]="checkItemBody.description" (addTask)="addChecklistItem()" />
            @if (checklistActive.data.length) {
              @for (item of checklistActive.data; track item) {
                <todo-card
                  [isCompleted]="item.completed"
                  (deleteItem)="deleteChecklistItem(item.id)"
                  (markAs)="atualizaChecklistItem(item)"
                  [description]="item.description"
                />
              }
            } @else {
              <div class="empty-list"></div>
            }
          </div>
        } @else {
          <div style="margin-top: 25%" class="empty-list"></div>
        }
      </div>
    </div>
  </div>
</sidenav>
