.fadein {
  animation: fadeInAnimation 0.45s ease-in-out;
}

.slow-fadein {
  animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
