.wrapper {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  gap: 25px;

  .title {
    color: var(--text-color-dark);
    font-weight: 600;
    font-size: var(--font-size-title);
    padding-top: 60px;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 10px 5px;

    display: flex;
    gap: 20px;
    flex-direction: row;

    overflow-y: hidden;
    overflow-x: auto;

    .column {
      width: max-content;
      background-color: var(--bg-color-container);
      width: 100%;

      overflow-y: auto;
      overflow-x: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;

      min-width: 325px;
      padding: 0 25px;
      border-radius: 15px;
      box-shadow: 0 0 4px var(--shadow-grey-color);

      .header {
        padding: 35px 0;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: left;
        width: 100%;
        font-weight: 600;
        color: var(--text-color-dark);
        font-size: var(--font-size-text);

        button {
          outline: none;
          border: none;
          height: 25px;
          background-color: transparent;
          transition: ease 0.2s;

          .mat-icon {
            color: var(--text-color-dark);
          }

          &:hover {
            cursor: pointer;
            opacity: 60%;
          }
        }
      }

      .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 5px;
      }
    }
  }
}
