<sidenav>
  <div class="wrapper">
    <span class="title">Quadro de tarefas</span>
    <div class="container">
      @for (kanbanData of kanbanColumns; track kanbanData.id) {
        <div
          class="column"
          cdkDropList
          [id]="kanbanData.id"
          [cdkDropListData]="kanbanData.items"
          [cdkDropListConnectedTo]="connectedLists"
          (cdkDropListDropped)="drop($event)"
          cdkDropListSortingDisabled
        >
          <div class="header">
            <button (click)="openModal(kanbanData.id)">
              <mat-icon fontIcon="add" />
            </button>
            <span>{{ `${kanbanData.title} (${kanbanData.items.length})` }}</span>
          </div>
          <div class="cards">
            @if (kanbanData.items.length > 0) {
              @for (item of kanbanData.items; track item) {
                <kanban-card
                  cdkDrag
                  [cdkDragData]="item"
                  [data]="item"
                  (deleteItem)="deleteKanbanItem(item.id)"
                  (openModal)="openModal('', item)"
                />
              }
            }
          </div>
        </div>
      }
    </div>
  </div>
</sidenav>
